
/***********  FONTS  ***************/



output {
    color: green;
    font-weight: bolder;
}


/***********  COLORS  ***************/


/***********  GENERAL  ***************/
h1 {
    text-align: center;
}


div {
  width: 700px ;
  margin: 10px 10px 30px 600px;
}

button {
    font-size: 16px;
    font-weight: bolder;
}

/***********  PAGE: HOME  ***************/

#poondForm {
  width: 700px ;
  margin: 10px 600px;   
}

#poondInput {
  font-size: 18px;
  font-weight: bolder;
  color: blue;
  background-color: white;
}


